.nav-container {
  background-color: #272727;
  height: 12vh;
  padding: 22px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-text-container {
  display: flex;
  flex-direction: row;
}

.website-logo {
  height: 50px;
  width: 130px;
}
.nav-text {
  font-family: "Roboto";
  font-weight: 400;
  color: #f8fafc;
  font-size: 23px;
  margin-right: 12px;
}
.logout {
  height: 50px;
  width: 160px;
  background-color: #4f46e5;
  border: none;
  border-radius: 6px;
  border-width: 0px;
  text-align: center;
  padding: 10px;
  font-family: "Roboto";
  font-size: 19px;
  font-weight: 500;
  color: #ffffff;
  cursor: pointer;
  outline: none;
}
